.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.like {
  margin-top: 5em;
  margin-right: 5em;
  width: 15%;
  height: 15%;
}

.dislike {
  width: 15%;
  height: 15%;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5em;
  margin-bottom: 1em;
}

.buttonRow {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  border: solid 2px black;
  width: 99%;
  border-collapse: collapse;
}

th {
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  padding: 0%;
  border-radius: 10px;
}

.first, .second, .prefirst {
  border-right: solid 2px black;
}

.first, .third {
  background-color: green;
  color: black;
}

.second, .prefirst {
  background-color: white;
  color: black;
}

.first, .second, .third, .prefirst {
  border-bottom: solid 2px black;
}

.title1, .title3 {
  background-color: white;
  color: black;
}

.title2, .pretitle {
  background-color: green;
  color: black;
}
